---
import FAQ from "../components/landing/FAQ.astro";
import Hero from "../components/landing/Hero.astro";
import ProductsList from "../components/landing/ProductsList.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Antuan Store">
  <main>
    <Hero />
    <ProductsList />
    <FAQ />
  </main>
</Layout>
